# JetBrains IDE
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Node (якщо буде використовуватись)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/
/build/
/out/

# Environment
.env
.env.local
.env.*.local
